html{}

.info {
    font-size:10pt;
    margin-top: 0.5em;
    border-top: 0.2em solid gray;
    padding-top: 0.5em;
    
}

.controls {
    margin-top: 0.5em;
    border-top: 0.2em solid gray;
    padding-top: 0.5em;
}

.habitats {
    font-size: 0.9em
}
.habitats .selected {
    background-image: linear-gradient(to bottom,#8cbf44 0,#7bae33 100%);
}
.common:first-line {
    font-size: 22pt;
    line-height:15pt;
}
.common {
    font-size: 16pt;
}
.sciname{
    font-size:14pt;
    font-style: italic;
    
}

.tax {
    padding: 0.1em 0 0.1em 0;
}

.specimg {
    width:100%;
    border-radius: 1em;
}
.image {
    overflow: hidden;
    text-align: center;
}
.name {
    padding: 0.1em 0 0.1em 0;
}
.legend {
  display: inline-block;
  margin-right: 5pt;
  width:10px; 
  height:10px;
  border:0.5pt solid black;
}

.assess {
    cursor: pointer;
    float:left;
    padding:4px;
    text-decoration: underline;
}
.help {
    float:right;
    cursor: pointer;
}
.search {
    padding: 1em 0.5em;
    outline: none;
    
}

.rerun {
    float:right;
}

.species .v {
    padding-left:1em;
}
.searchHint {
    margin: 1em 0em 1em 0;
    padding-left: 1em;
}
.searchHint a {
    line-height: 2em;
}
.header {
    background: #fff url(../images/header_background.png)
        no-repeat bottom center;
}

.footer {
    display: block;
    color: #fff;
    background: #062d66 
        url(../images/footer_background.png) no-repeat left bottom;
    height: 15em;
    width: 100%;
}

.body {
    font-family: 
        "Cantarell",
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Lucida Grande",
        sans-serif;
}
.logo {
    height:100px;
    margin-right: 10px;
}
.map {
    height: 20em;
    border-radius:1em;
    border: 0.2em solid gray;
    margin: 0.5em;
    padding:1em;
}
.bootstrap-switch {
    height: 1.4em;
    min-width: 3em;
    width: 3em;
}

.switch {
    display: none;
}

.control {
    margin: 1em 0 1em 0;
}
.metrics {
    margin-top: 0.5em;
    border-top: 0.2em solid gray;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.2em;
}

.metric .name {
    margin-left: 1em;
    text-indent: -1em;
}
.instructions {
    padding: 1em;
}
.navigation {
    display:block;
    text-align: center;
    background-color: #8cbf44;
    width: 100%
}
.nav_buttons {
    text-align: left;
    color: #fff;
    font-size:1.1em;
    font-weight: normal;
    padding: 0.62em;
    
}
.nav_button {
    padding:0.3em;
    border-radius: 0.3em;
    margin-right:1.5em;
    cursor: pointer;
    
    /*line-height: 2.4em;*/
}
.nav_button:hover {
    background-color: #7bae33;
}
.nav_selected {
    border-bottom: 0.3em solid gray;
    background-color: #7bae33;
    border-radius: 0.3em;
}
.elev, .forest .container {padding-left:1em;}
.range {
    width: 6em;
   
}

.slider .slider-horizontal {
  
}
.slider-handle {
    border: 0.05em solid #ddd;
    border-radius: 0.5em; 
    background-color: #8cbf44;
    background-image: linear-gradient(to bottom, #8cbf44 0,#7bae33 100%);
    opacity: 1;
}
[class*=class_] {
    cursor: pointer;  
    padding: 0.8em}
.spinner {
  display: inline-block;
  opacity: 0;
  max-width: 0;
  -webkit-transition: opacity 0.25s, max-width 0.45s; 
  -moz-transition: opacity 0.25s, max-width 0.45s;
  -o-transition: opacity 0.25s, max-width 0.45s;
  transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}
.twitter-typeahead {
    width: 100%;
}
.top_button {
  font-size: 1em;
  -webkit-border-radius: 0.8em;
     -moz-border-radius: 0.8em;
          border-radius: 0.8em;
  outline: none;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 2em;
  /*padding: 0.8em 1.1em;*/
  font-size: 1.2em;
  line-height: 2em;
  border: 2px solid #ccc;
  -webkit-border-radius: 0.8em;
     -moz-border-radius: 0.8em;
          border-radius: 0.8em;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
    /*width: 422px;*/
    max-height: 20em;
    overflow-y: auto;
    margin-top: 0.8em;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 0.1em 1em;
  font-size: 1.1em;
  line-height: 1.1em;
}
.tt-dropdown-menu {
  
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-dropdown-menu {
  text-align: right;
}
.icon-refresh-animate {
    animation-name: rotateThis;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotateThis {
    from { transform: scale( 1 ) rotate( 0deg );   }
    to   { transform: scale( 1 ) rotate( 360deg ); }
}

.refreshing {
     
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin .8s infinite linear;
     -moz-animation: spin .8s infinite linear;
     -o-animation: spin .8s infinite linear;
     animation: spin .8s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 0.75;
  }
}

.stale {
  background-color: #D9903D;
}
.pulse {
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.8s; 
  -webkit-animation-iteration-count: 1; 
}
