body {
	padding: 0;
	margin: 0
	line-height:normal;
	font-size:16px;
}
header {
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	*zoom: 1
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: "Cantarell", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
}
header {
    border-bottom: solid 1.5em #8cbf44
}
.logo {
	margin: 0.5em;
	width: 10em
}
@media (min-width: 740px) {
	.logo {
		float: left
	}
}
.logo a {
	display: block;
	height:60px;
}
.logo img {
	width: 160px;
}
@media (min-width: 740px) {
	nav {
		position: absolute;
		bottom: 0;
		right: 1em
	}
}
.menu {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
	text-align: center;
	font-size: 0.75em
}
@media (min-width: 740px) {
	.menu {
		float: left;
		font-size: 1em
	}
}



.menu li {
	list-style: none;
	list-style-image: none;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 0
}


.menu a:link, .menu a:visited {
	color: #3d3c3c;
	text-decoration: none;
	padding: 0.25em 0.5em 0.35em 0.5em;
	display: block
}
.menu a:hover {
	color: #8cbf44
}
.menu .tab a:link, .menu .tab a:visited {
	color: #fff;
	background-color: #062d66;
	-webkit-border-radius: 0.5em 0.5em 0 0;
	-moz-border-radius: 0.5em 0.5em 0 0;
	-ms-border-radius: 0.5em 0.5em 0 0;
	-o-border-radius: 0.5em 0.5em 0 0;
	border-radius: 0.5em 0.5em 0 0
}


.menu .tab i {
    display: inline-block;
    margin-left: 0.5em;
	content: "\f041";
	font-family: FontAwesome;
	color: #23a9d0;
	background-color: #fff;
	margin: 0.5em;
	height: 1.25em;
	width: 1.25em;
	line-height: 1.25;
	text-align: center;
	-webkit-border-radius: 5em;
	-moz-border-radius: 5em;
	-ms-border-radius: 5em;
	-o-border-radius: 5em;
	border-radius: 5em
}
.menu .tab a:hover {
	background-color: #e86e1d
}

.menu .tab a.selected {
    background-color: #8cbf44;
}

